/****************************************/
/*Imports*/
/****************************************/

@import url(normalize.css);
@import url(grid.css);

/*End of imports*/


/****************************************/
/*Typography and CSS Base*/
/****************************************/

body{
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #ffffff;
	text-rendering: optimizelegibility;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover{
  color: #c0c0c0;
  text-decoration:none;
}

p{
  margin: 0 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
}

h1 {
  font-size: 38.5px;
  line-height: 40px;
  
}

h2 {
  font-size: 31.5px;
  line-height: 40px;
}

h3 {
  font-size: 24.5px;
  line-height: 40px;
}

h4 {
  font-size: 17.5px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 11.9px;
  line-height: 20px;
}

p, img, dl, ul, ol{
margin:0 10px;
}


/*forms*/

form{
}

label{ 
}

fieldset{
    margin-left:20px;
    margin:20px;
}

legend, label{
    width:35%;
    border: none;
    display: block;
    display: inline-block;
    float: left;
    margin:0;
    margin-bottom: 10px;
    padding:0;
    line-height: 30px;
    font-size: 1.5em;
    font-weight: normal;
}

legend{
    display:block;
    width:100%;
    margin-bottom:20px;
    font-size:2em;
    
    float: left;
}

input, textarea{
    margin:0;

    background-color:#eeeeee;
    border:none;
    width: 420px;
    border:none;
    position: relative;    
}

input{
    margin:0;
    padding-top:5px;
    padding-bottom:5px;
    display:block;
    width: 65%;
    float: right;
    margin-bottom: 10px;
}

textarea{
    
    width:530px;
    height:500px;
    margin-top:20px;
    margin-bottom:20px;
    resize:none;
    float: right;
}

input:focus, textarea:focus{
}

input[type="submit"]{
    display: block;
    background-color:rgba(255,0,0,1);
    width:160px;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    color:#ffffff;
    font-weight:bold;
    font-size:1.3em; 
    border:2px solid #ff0000;
    float: right;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:-10px;
}
   
input[type="submit"]:hover{
    color:#ff0000;
    border:2px solid #ff0000;
    background-color:white;
   }
/*End of forms*/

.gestion_subnav{
    width:100%;
    z-index: 99;
    top: 50px;
    display:inline-block;
    margin-top: 40px;
    height:50px;
    margin-bottom:60px;
}

.gestion_subnav .grey_bar{
        background-color: #222222;
        height: 100px;
        margin-top:-10px;
        width:110%;
        left:-10px;
        
        z-index:-100;
        transform:rotate(-1.3deg);
        -ms-transform:rotate(-1.3deg); /* IE 9 */
        -webkit-transform:rotate(-1.3deg); /* Safari and Chrome */           
}

.gestion_subnav h1{
    display:block;
    position: relative;
    float:left;
    top: -4px;
    color: #ffffff;
    font-size:5.5em;
    text-transform:uppercase;
    transform:rotate(-1.3deg);
    -ms-transform:rotate(-1.3deg); /* IE 9 */
    -webkit-transform:rotate(-1.3deg); /* Safari and Chrome */
}

.gestion_subnav ul{
    position: relative;
    display:block;
    float:right;
    transform:rotate(-1.3deg);
    -ms-transform:rotate(-1.3deg); /* IE 9 */
    -webkit-transform:rotate(-1.3deg); /* Safari and Chrome */
    top: 60px;
}

.gestion_subnav ul li{
    display:block;
    float:left;
    margin-left: 20px;
    text-align:center;
}

.gestion_subnav ul li a{
    
    display:block;
    color:#ffffff;
    font-size:2em;
    font-weight:bold;
    
    /*display:block;
    width:100px;
    text-align:center;
    vertical-align:middle;
    line-height:15px;
    color:#eeeeee;
    font-size:1em;
    background-color:#999999;
    float:right;
    margin-right:5px;
    margin-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    */
}


.gestion_subnav ul li a:hover{
    color:#c0c0c0;
}

#container>article{
    margin-top: 50px
}





/*Diverses*/
#errormessage{
       color:#ffffff;
       font-size:3em;
       position:fixed;
       bottom:30px;
       right:-10px;
       background-color: rgb(255,0,0);
       padding:20px; 
       line-height:40px; 
}

.selected{
    color:red;
}

.selected li{
    color:red;
}

.theButton{
    display:block;
    background-color:rgba(255,0,0,1);
    width:160px;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    color:#ffffff;
    font-weight:bold;
    font-size:1.3em; 
    border:2px solid #ff0000;
    float:right;
    padding-top:5px;
    padding-bottom:5px;
}

.theButton:hover{
    color:#ff0000;
    border:2px solid #ff0000;
    background-color:white;
   }

   
/*End of diverses*/
/*End of Typography and CSS Base*/


/***************************************************************/
/*Smartphones (portrait and landscape)*/
/***************************************************************/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}
/*Smartphones (portrait and landscape)*/


/***************************************************************/
/*Smartphones (landscape)*/
/***************************************************************/
@media only screen 
and (min-width : 321px) {
/* Styles */
}
/*End of Smartphones (landscape) layout*/


/***************************************************************/
/*Smartphones (portrait)*/
/***************************************************************/
@media only screen 
and (max-width : 320px) {
/* Styles */
}
/*End of Smartphones (portrait) layout*/


/***************************************************************/
/*iPads (portrait and landscape)*/
/***************************************************************/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}
/*End of iPads (portrait and landscape) layout*/


/***************************************************************/
/*iPads (landscape)*/
/***************************************************************/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}
/*End of iPads (landscape) layout*/


/***************************************************************/
/*iPads (portrait)*/
/***************************************************************/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}
/*End of iPads (portrait) layout*/


/***************************************************************/
/*Desktops and laptops*/
/***************************************************************/
/*Status = to fill*/

@media only screen 
and (min-width : 1224px) {

/****************************************/
/*about*/
/****************************************/
/*Status = Il faut faire que les quand on clic sur la nav les ancres montes plus bas*/

.about section{
        margin:50px;
}
.about h1{}
.about p{
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
    column-count:3;
    
    -moz-column-gap:20px; /* Firefox */
    -webkit-column-gap:20px; /* Safari and Chrome */
    column-gap:20px;
    
    text-align:justify;

}
.about img{
    margin:50px; 
    padding:1px;
    border-radius:3px;
    border:1px solid #222222;
    display:block;
    margin-right:auto;
    margin-left:auto;
       
}

/*end of about*/


/****************************************/
/*about_nav*/
/****************************************/
/*Status = done*/
/*Info: this template is styled by id="subnav"*/
/*end of about_nav*/

/****************************************/
/*contact*/
/****************************************/
/*Status = ok*/

.contact{
}

.contact section{

    display:block;
    position:relative;
    float:left;
}

.contact h1{
    font-size:2em;
}

.contact form{

}

.contact p{
    
}

.contact label{
    width:100px;
    text-align:right;   
}

#message{
    margin-top:30px;
}

.contact textarea{
    resize:none;
}

.contact iframe{
    margin-left:20px;
}
/*end of contact*/


/****************************************/
/*contact_received*/
/****************************************/
/*Status = ok*/

.contact_received p{
    width:600px;
    text-align:center;
    height:auto;
    position:relative;
    top:100px;
    background-color:#ff0000;
    color:#ffffff;
    margin-right:auto;
    margin-left:auto;
    font-size:2em;
    padding:20px;
    border-radius:2px;
    border:2px solid #ff0000;
    line-height:30px;
}

/*end of contact_received*/


/****************************************/
/*events*/
/****************************************/
/*Status = ok*/
/*Info: this template is composed of two templates:
        event_single.tpl
        event_nav.tpl
*/
/*End of events*/ 


/****************************************/
/*events_nav*/
/****************************************/
/*Status = to fill*/

.events_nav{}
.events_nav ul{}
.events_nav li{}
.events_nav a{}
.events_nav h1{}
.events_nav p{}
    
/*end of event_nav*/


/****************************************/
/*event_registration*/
/****************************************/
/*Status = il faut mettre des ronds plus petit pour le status d'inscription ou alors
enlever ces etapes d'inscription pas nécéssairement utiles, ainsi on s'evite du javascript'*/

.events_registration{
    
}

.events_registration header{}
.events_registration header h1{
    display: block;
    font-size: 2.5em;
    margin-bottom: 0;
}

.events_registration header time{
    display: block;
    font-size:1.5em;
    padding-left: 20px;
}

.events_registration header nav{
}
.events_registration header nav a{
        display:block;
        float:left;
        background-image: url("../img/layout/circle.svg");
        width:100px;
        height:100px;
}
.events_registration header nav a span{
        display:none;
}

.events_registration header nav p{}



.events_registration section{}
.events_registration section form{}
.events_registration section form fieldset{}
.events_registration section form fieldset legend{}
.events_registration section form fieldset p{}
.events_registration section form fieldset p label{}
.events_registration section form fieldset p input{}
.events_registration section form a{}
.events_registration section form fieldset p textarea{}
.events_registration seciton form button{}

/*end of event_registration*/


/****************************************/
/*events_single*/
/****************************************/
/*Status = il faut mettre le javascript ou alors faire enlever la bar de nav pour s'eviter de mettre le js*/

.events_single{
    margin-bottom:50px;
    
}

.events_single header{
    display: block;
    padding:20px;
}

.grey_bar{
        background-color:#eeeeee;
        height:100px;
        margin-top:-10px;
        width:100%;
        left:0;
        position:absolute;
        z-index:-100;
        transform:rotate(-3deg);
        -ms-transform:rotate(-3deg); /* IE 9 */
        -webkit-transform:rotate(-1.3deg); /* Safari and Chrome */           
}

.events_single header h1{
    display: block;
    font-size: 2.5em;
    margin-bottom: 0;
}
.events_single header time{
    display: block;
    font-size:1.5em;
    padding-left: 20px;
}

.events_single nav{
    display:inline-block;
    margin-bottom:5px;
    margin-top:20px;
    position:relative;
    left:0%;
}
.events_single nav ul{}
.events_single nav ul li{
    display:block;
    float:left;
}
.events_single nav ul li a{
    display:block;   
    color:rgba(255,0,0,1);
    text-decoration:none;
    text-align:center;
    font-size:1.8em;
    padding:5px;
    padding-bottom:0;
}

.events_single nav ul li:hover{
     color:#c0c0c0;
}

#events_single_infos, #events_single_details, #events_single_speaker{}

.events_single section{
    margin-top:30px;
}


.events_single section section{
    
    position:relative;

}
.events_single section h2{
    font-size:1.8em;
}
.events_single section p{}
.events_single section dl{

}
.events_single section dl dt{
        font-weight:normal;
    display:block;
    float:left;
    width:100px;
}
.events_single section dl dt dd{}
.events_single section ul{}
.events_single section li{}

.events_single .theButton{
    display:block;
    background-color:rgba(255,0,0,1);
    width:160px;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    color:#ffffff;
    font-weight:bold;
    font-size:1.3em; 
    border:2px solid #ff0000;
    float:right;
    
   }
   
.events_single .theButton:hover{
    color:#ff0000;
    border:2px solid #ff0000;
    background-color:white;
   }

/*end of events_single*/


/****************************************/
/*gestion_contacts*/
/****************************************/
/*Status = ok*/
/*Info: this template is composed of multiple templates
        depending of the user action:
        gestion_contacts_infos.tpl
        gestion_contacts_list.tpl
        gestion_contacts_nav.tpl
        gestion_contacts_new.tpl
        gestion_contacts_role.tpl
        gestion_contacts_role_infos.tpl
*/
/*end of gestion_contacts*/


/****************************************/
/*gestion_contacts_infos*/
/****************************************/
/*Status = aligner les form*/

.gestion_contacts_infos .buttonSave{
    display:inline-block;
    width:160px;
    float:right;
    margin-top:-50px;
}

.gestion_contacts_infos form{
    margin-top:80px;
}
.gestion_contacts_infos form fieldset{}

.gestion_contacts_infos form fieldset p{
    margin-top:50px;
}
.gestion_contacts_infos form p input{
    line-height:20px;
}
.gestion_contacts_infos form p label{
    line-height:30px;
    margin-top:20;
}
.gestion_contacts_infos form h1{}
.gestion_contacts_infos form p select{}
.gestion_contacts_infos form p select option{}

/*end of gestion_contacts_infos*/


/****************************************/
/*gestion_contacts_list*/
/****************************************/
/*Status = ok, il y a quelques lignes vides bizarre mais ça le fait*/

.gestion_contacts_list header{}
.gestion_contacts_list header nav{}
.gestion_contacts_list header nav ul{}
.gestion_contacts_list header nav ul li{}
.gestion_contacts_list header nav ul li a{
    font-weight:normal;
    color:red;
    font-size:1.7em;
}

.gestion_contacts_list table{
    margin-top: 30px;
    width:100%;
}

.gestion_contacts_list table tr{
    border-bottom:5px solid white;
    margin:10px;
    font-size:1.2em;
}

.gestion_contacts_list table tr th{
    font-weight:bold;
    font-size:1em; 
    background-color:#E0E0E0;
    padding:16px;
    border-bottom:3px solid white;
}

.gestion_contacts_list table tr td{
    padding:7px 7px 7px 16px;
    background-color:#EFEFEF;
}
.gestion_contacts_list table tr td a{}

/*end of gestion_contacts_list*/


/****************************************/
/*gestion_contacts_nav*/
/****************************************/
/*Status = ok*/

.gestion_contacts_nav{}
.gestion_contacts_nav h1{}
.gestion_contacts_nav ul{
    poisition:relative;
    top:0;
}
.gestion_contacts_nav ul li{}
.gestion_contacts_nav ul li a{}

/*end of gestion_contacts_nav*/


/****************************************/
/*gestion_contacts_new*/
/****************************************/
/*Status = il faut aligner les forms selon la meme structure que 
gestion_contacts_infos. Une fois gesiton_contacts_infos fini, cette page devrait
etre bonne aussi.*/

.gestion_contacts_new{}
.gestion_contacts_new form p{}
.gestion_contacts_new form p input{}

.gestion_contacts_new form fieldset{}
.gestion_contacts_new form fieldset legend{}
.gestion_contacts_new form fieldset p{}
.gestion_contacts_new form fieldset p label{}
.gestion_contacts_new form fieldset p input{}
.gestion_contacts_new form fieldset p textarea{}

.gestion_contacts_new form fieldset p select{}
.gestion_contacts_new form fieldset p select option{}

/*end of gestion_contacts_new*/


/****************************************/
/*gestion_contacts_role*/
/****************************************/
/*Status = to fill*/

.gestion_contacts_role {}

.gestion_contacts_role header{}
.gestion_contacts_role header a{
    
}
.gestion_contacts_role ul{
    margin-top:50px;
}
.gestion_contacts_role ul dl{
    
}
.gestion_contacts_role ul dl dt{
    margin-top:20px;
}
.gestion_contacts_role ul dl dd{
    margin-top:5px;
}

.gestion_contacts_role .buttonRole{
    display:block;
    background-color:rgba(255,0,0,1);
    width:160px;
    text-align:center;
    vertical-align:middle;
    line-height:30px;
    color:#ffffff;
    font-weight:bold;
    font-size:1.3em; 
    border:2px solid #ff0000;
   }
   
.gestion_contacts_role .buttonRole:hover{
    color:#ff0000;
    border:2px solid #ff0000;
    background-color:white;
   }

/*end of gestion_contacts_role*/


/****************************************/
/*gestion_contacts_role_infos*/
/****************************************/
/*Status = to fill*/

.gestion_contacts_role_infos{}

.gestion_contacts_role_infos form{}
.gestion_contacts_role_infos form p{}
.gestion_contacts_role_infos form p input{}
.gestion_contacts_role_infos form h1{}
.gestion_contacts_role_infos form p label{}
.gestion_contacts_role_infos form p input{}
.gestion_contacts_role_infos form select{}
.gestion_contacts_role_infos form select option{}

/*end of gestion_contacts_role_infos*/


/****************************************/
/*gestion_events*/
/****************************************/
/*Status = ok*/
/*Info: this template is composed of different templates:
        gestion_events_nav.tpl
        gestion_events_single.tpl
        and all gestion_events_xxx.tpl
*/
/*End of gestion_events*/ 


/****************************************/
/*gestion_events_list*/
/****************************************/
/*Status = ok*/

.gestion_events_list{}
.gestion_events_list a{
    margin-top:35px;
    display:inline-block;
    width:100%;
}

.gestion_events_list a:hover .grey_bar{
    background-color:#cccccc;
}

.gestion_events_list a:hover p img{
    background-color:#cccccc;
}

.gestion_events_list a:hover h1, .gestion_events_list a:hover time{
    color:white;
}

.gestion_events_list a .grey_bar{
        background-color:#eeeeee;
        height:100px;
        width:100%;
        left:0;
        position:absolute;
        z-index:-100;
        transform:rotate(-3deg);
        -ms-transform:rotate(-3deg); /* IE 9 */
        -webkit-transform:rotate(-1.3deg); /* Safari and Chrome */           
}

.gestion_events_list a article header{
    display:block;
    float:left;    
    width:80%;

}

.gestion_events_list a article header h1{
    font-size: 2.5em;
    margin-bottom: 0;
}

.gestion_events_list a article header time{
    display: block;
    font-size:1.5em;
    padding-left: 20px;
}

.gestion_events_list a article p{
    display:block;
    float:right;
    position:relative;
    margin-top:10px;
    margin-bottom:10px;
}

.gestion_events_list a article p img{
    height:50px;   
}

/*end of gestion_events_list*/


/****************************************/
/*gestion_events_mail*/
/****************************************/
/*Status = c'est presque bon, il faut juste mettre un peu moins d'espace entre 
chaque participants dans la list et un peu styler les status (accepted, pending,...)
*/

.gestion_events_mail{}

.gestion_events_mail section{}
.gestion_events_mail section .gestion_events_mail_nav{
    width:100%;
    margin-top:30px;
    margin-bottom:30px;
}
.gestion_events_mail section .gestion_events_mail_nav:hover{
   
}
.gestion_events_mail section .gestion_events_mail_nav a{}
.gestion_events_mail section ul{
    display:inline-block;
    width:100%;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    line-height: 20px;
}
.gestion_events_mail section ul li{
    display:block;
    background-color:#eeeeee;
    margin:10px 0;
    padding:5px;
}
.gestion_events_mail section ul li div{
    float:right;
    font-weight:bold;
}
.gestion_events_mail section ul li a{}
.gestion_events_mail #refused{}
.gestion_events_mail #refused ul{}
.gestion_events_mail #refused ul li{}
.gestion_events_mail #refused ul li a{}
.gestion_events_mail #waiting{}
.gestion_events_mail #waiting ul{}
.gestion_events_mail #waiting ul li{}
.gestion_events_mail #waiting ul li a{}
.gestion_events_mail #accepted{}
.gestion_events_mail #accepted ul{}
.gestion_events_mail #accepted ul li{}
.gestion_events_mail #accepted ul li a{}

/*end of gestion_events_mail*/


/****************************************/
/*gestion_events_mail_edit*/
/****************************************/
/*Status = done*/

.gestion_events_mail_edit{}

.gestion_events_mail_edit input{}

.gestion_events_mail_edit fieldset{
    margin-top:10px;
    display:inline-block;
}
.gestion_events_mail_edit fieldset label{
    float:left;
    width:30%;
    }
.gestion_events_mail_edit fieldset input{
   float:right; 
   line-height:30px;
   width:70%;
}
.gestion_events_mail_edit fieldset select{
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:20px;
}
.gestion_events_mail_edit fieldset select option{}
.gestion_events_mail_edit fieldset textarea{}


/*end of gestion_events_mail_edit*/


/****************************************/
/*gestion_events_motivation*/
/****************************************/
/*Status = to fill*/

.gestion_events_motivation{}

.gestion_events_motivation article{
    background-color:#eeeeee;
    margin:10px 0;
}
.gestion_events_motivation article h1{}
.gestion_events_motivation article p{}
.gestion_events_motivation article section{
    margin:10px 0;
}
.gestion_events_motivation article section ul{
    margin:10px 0;
}
.gestion_events_motivation article section ul li{}
.gestion_events_motivation article section ul li a{}

/*end of gestion_events_motivation*/


/****************************************/
/*gestion_events_nav*/
/****************************************/
/*Status = to fill*/

.gestion_events_nav{}

.gestion_events_nav h1{}
.gestion_events_nav ul{}
.gestion_events_nav ul li{}
.gestion_events_nav ul a{}

/*end of gestion_events_nav*/


/****************************************/
/*gestion_events_role*/
/****************************************/
/*Status = to fill*/

.gestion_events_role .theButton {
    display:inline-block;
    width:160px;
    float:right;
}

.gestion_events_role dl{
    display:inline-block;
    width:100%;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    line-height: 20px;
}
.gestion_events_role dl dt{
    display:block;
    background-color:#eeeeee;
    margin:10px 0;
    padding:5px;
    
}



/*end of gestion_events_role*/


/****************************************/
/*gestion_events_role_infos*/
/****************************************/
/*Status = to fill*/

.gestion_events_role_infos {
    float:right;
}

.gestion_events_role_infos form fieldset{
    width:100%;
    float:right;
}


/*end of gestion_events_role_infos*/


/****************************************/
/*gestion_events_single*/
/****************************************/
/*Status = to fill*/

.gestion_events_single{}

.gestion_events_single form{}

/*nav*/
.gestion_events_single nav{
    display:inline-block;
    margin-bottom:20px;
    margin-top:20px;
    position:relative;
    left:0%;
}
.gestion_events_single nav ul {}
.gestion_events_single nav ul li{
    display:block;
    float:left;
}
.gestion_events_single nav ul li a{ 
    display:block;   
    color:rgba(255,0,0,1);
    text-decoration:none;
    text-align:center;
    font-size:1.8em;
    padding:5px;
    padding-bottom:0;
}
.gestion_events_single nav ul li a:hover{
    color:#c0c0c0;
}
/*end of nav*/

.gestion_events_single form input{}

/*gestion_events_single_infos*/
.gestion_events_single form #gestion_events_single_infos{}
.gestion_events_single form #gestion_events_single_infos legend{
    display:inline-block;
    float:left;
    width:30%;
    font-size:1.5em;
}
.gestion_events_single form #gestion_events_single_infos input{
    display:block;
    float:right;
    width:68%;
}
.gestion_events_single form #gestion_events_single_infos #troll{
    float:left;
    width:100%;
}
.gestion_events_single form #gestion_events_single_infos textarea{
    margin-top:0px;
    width:68%;
}
.gestion_events_single form #gestion_events_single_infos legend table{}
.gestion_events_single form #gestion_events_single_infos legend table tr{}
.gestion_events_single form #gestion_events_single_infos legend table td{}
.gestion_events_single form #gestion_events_single_infos legend table td select{}
.gestion_events_single form #gestion_events_single_infos legend table td select option{}
.gestion_events_single form #gestion_events_single_infos a{}
/*end of gestion_events_single_infos*/

.gestion_events_single form #gestion_events_single_details{}
.gestion_events_single form #gestion_events_single_details fieldset{}
.gestion_events_single form #gestion_events_single_details fieldset legend{}
.gestion_events_single form #gestion_events_single_details fieldset select{}
.gestion_events_single form #gestion_events_single_details fieldset select option{}
.gestion_events_single form #gestion_events_single_details fieldset legend{}
.gestion_events_single form #gestion_events_single_details fieldset textarea{}
.gestion_events_single form #gestion_events_single_details fieldset a{}
.gestion_events_single form #gestion_events_single_speaker{}
.gestion_events_single form #gestion_events_single_speaker legend{}
.gestion_events_single form #gestion_events_single_speaker a{}
.gestion_events_single form #gestion_events_single_speaker a input{}
.gestion_events_single form #gestion_events_single_speaker p{}
.gestion_events_single form #gestion_events_single_speaker p select{}
.gestion_events_single form #gestion_events_single_speaker p select option{}
.gestion_events_single form #gestion_events_single_speaker input{}
.gestion_events_single form #gestion_events_single_team{}
.gestion_events_single form #gestion_events_single_team legend{}
.gestion_events_single form #gestion_events_single_team p{}
.gestion_events_single form #gestion_events_single_team p select{}
.gestion_events_single form #gestion_events_single_team p select option{}
.gestion_events_single form #gestion_events_single_team p input{}
.gestion_events_single form #gestion_events_single_team input{}
.gestion_events_single form #gestion_events_single_team a{}

/*end of gestion_events_single*/


/****************************************/
/*gestion_events_speaker_infos*/
/****************************************/
/*Status = to fill*/

.gestion_events_speaker_infos{}

.gestion_events_speaker_infos fieldset{}
.gestion_events_speaker_infos fieldset input{}
.gestion_events_speaker_infos fieldset textarea{}
.gestion_events_speaker_infos fieldset legend{}
.gestion_events_speaker_infos fieldset input{}
.gestion_events_speaker_infos input{}

/*end of gestion_events_speaker_infos*/

/****************************************/
/*gestion_locations*/
/****************************************/
/*Status = to fill*/
/*Info: this template is composed of multiple templates
        depending of the user action:
        gestion_locations_infos.tpl
        gestion_locations_nav.tpl
        gestion_locations_list.tpl
        
/*end of gestion_locations*/

/****************************************/
/*gestion_locations_infos*/
/****************************************/
/*Status = done*/

.gestion_locations_infos {
    float:right;
}
.gestion_locations_infos form {
}
.gestion_locations_infos form p{
    width:100%;
    float:right;
}
.gestion_locations_infos form p label{
    line-height:30px;
}

/*end of gestion_locations_infos*/


/****************************************/
/*gestion_locations_list*/
/****************************************/
/*Status = done*/

.gestion_locations_list .theButton {
    display:inline-block;
    width:160px;
    float:right;
}
.gestion_locations_list ul{
    display:inline-block;
    width:100%;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    line-height: 20px;
}
.gestion_locations_list ul li{
    display:block;
    background-color:#eeeeee;
    margin:10px 0;
    padding:5px;
}
.gestion_locations_list ul li a{}

/*end of gestion_lcoations_list*/

/****************************************/
/*gestion_locations_nav*/
/****************************************/
/*Status = to fill*/

.gestion_locations_nav{}  

.gestion_locations_nav h1{}

/*end of gestion_locations_nav*/


/****************************************/
/*gestion_nav*/
/****************************************/
/*Status = to fill*/
/*Info: this template is styled by id="subnav"*/

/*end of gestion_nav*/


/****************************************/
/*home*/
/****************************************/
/*Status = to fill*/
/*Info: this template is composed of multiple templates
        depending of the user action:
        events_single.tpl
        viedeo_list.tpl
*/
/*end of gestion_nav*/


/****************************************/
/*login*/
/****************************************/
/*Status = to fill*/

.login{}
.login section{}
.login section h1{}
.login section form{}
.login section form p{}
.login section form p label{}
.login section form p input{}
.login section form a{}

/*end of login*/

/****************************************/
/*main*/
/****************************************/
/*Status = to fill*/
#container{
    max-width:1200px;
    margin-right:auto;
    margin-left:auto;
}

#globalheader{
    position: fixed;
    top:0;
    left:0;
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    padding-bottom:12px;
    z-index:100;   
}

#topheader{
   background-color:#222222;
   height: 30px;
   width:100%;
   position: fixed;
   margin:0 auto;
}

#globalnav, #lognav{
    margin:0;
    padding:0;
    max-width:1200px;
}

#globalnav{
    padding-left:17%;
    position:relative;
    display:block;
    width:auto;
    float:left;
}

#lognav{
    padding-right:17%;
    position:relative;
    display:block;
    width:auto;
    float:right;
}

#globalnav li, #lognav li{
    display:block;    
    float: left;
    height:30px;
}

#globalnav li a, #lognav li a{
        font-size:1.2em;
        display:block;
        height:inherit;
        padding:0 10px;
        padding-top:5px;
        color:#c0c0c0;
}

#globalnav li a:hover, #lognav li a:hover{
    color:#fff;
    text-decoration:none; 
}

#logout{}
#userinfo{}
#login{}

#bottomheader{
        position:absolute;
    display:inline-block;    
    left:50%;
    top:50px;
}

#logo {
    position:fixed;
    top:30px;
    left:17%;
    display:block;
    width:305px;
    height:55px;
    background-image: url("../img/layout/logo.svg");
    margin-left: 5px;
    margin-top: 10px;
}

.social{
    right:17%;
    position:fixed;
    display:block;
    float:right;
}
.social li{
    display:block;
    float:left;

}

.social li a{
    display:block;
    background-repeat: no-repeat;
    background-size:26px 26px;
    width:30px;
    height:30px;
    
}

.social li a span{
    display:none;
    
}



.twitter{
    background-image: url("../img/layout/social/normal/twitter.png");


}
.facebook{
    background-image: url("../img/layout/social/normal/facebook.png");
}
.linkedin{
    background-image: url("../img/layout/social/normal/linkedin.png");
}
.flickr{
    background-image: url("../img/layout/social/normal/flickr.png");
}
.youtube{
    background-image: url("../img/layout/social/normal/youtube.png");
}

.twitter:hover{
    background-image: url("../img/layout/social/hover/twitterHover.png");
}
.facebook:hover{
    background-image: url("../img/layout/social/hover/facebookHover.png");
}
.linkedin:hover{
    background-image: url("../img/layout/social/hover/linkedinHover.png");
}
.flickr:hover{
    background-image: url("../img/layout/social/hover/flickrHover.png");
}
.youtube:hover{
    background-image: url("../img/layout/social/hover/youtubeHover.png");
}

#subnav{
    position:relative;
    display:inline-block;
    left:-30%;
}

#subnav li{
     display:block;
     float:left;
     padding-bottom:3px;
     background-color:#eeeeee;
}

#subnav a{
    display:block;   
    color:#222222;
    text-decoration:none;
    text-align:center;
    font-size:1.2em;
    font-weight:bold;
    padding:5px;
    padding-bottom:0;
}

#subnav li:hover{
    background-color: rgba(225, 0, 0, 0.5);
}

#subnav a:hover{
}

#content{
    margin-top:90px;
    margin-bottom:30px;
}

#globalfooter{
    left:0;
    bottom:0;
    position:fixed;
    background-color: #222;
    width: 100%;
    height: 30px;
}

#globalfooter p {
    margin-top:5px;
    font-style:italic;
    text-align: center;
    color:#c0c0c0;    
}

/*end of main*/


/****************************************/
/*partners*/
/****************************************/
/*Status = to fill*/

.partners{}
.partners section{}
.partners section h1{
    margin-top:50px;
}
.partners section p{
    margin-bottom:5px;
}

.partners section .spec{
    margin-bottom:30px;
}
.partners section #spec{
    margin-bottom:30px;
}
.partners section p a{
    color: red;
    text-decoration: none;
}

.partners section p a:hover{
  color: #c0c0c0;
  text-decoration:none;
}
.partners section section{}
.partners section section h2{}
.partners section section .debut{
    margin-top:30px;
}
.partners section section article{}
.partners section section article img{
    margin-bottom:10px;
}
.partners section section article p{
    margin-bottom:30px;
}
.partners section section article p a{}

/*end of partners*/


/****************************************/
/*partners_nav*/
/****************************************/
/*Status = to fill*/
/*Info: this template is styled by id="subnav"*/

/*end of partners_nav*/


/****************************************/
/*press*/
/****************************************/
/*Status = to fill*/

.press{}
.press section{}
.press section h1{}
.press section p{}

/*end of press*/


/****************************************/
/*register*/
/****************************************/
/*Status = to fill*/

.register{}
.register h1{}

.register form{}
.register form p{}
.register form p label{}
.register form p input{}

/*end of register*/


/****************************************/
/*user_infos*/
/****************************************/
/*Status = to fill*/

.user_infos{}
.user_infos section{}
.user_infos section form{}
.user_infos section form p{}
.user_infos section form p label{}
.user_infos section form p input{}

/*end of user_infos*/


/****************************************/
/*video_player*/
/****************************************/
/*Status = to fill*/
/*
Il faut absolument créer le template
de ce player video ma parole
/*end of video_player*/


/****************************************/
/*videos_all*/
/****************************************/
/*Status = to fill*/

.videos_all{}
.videos_all iframe{}

/*end of videos_all*/


/****************************************/
/*videos_event*/
/****************************************/
/*Status = to fill*/

.videos_event{}
.videos_event iframe{}

/*end of videos_event*/


/****************************************/
/*videos_list*/
/****************************************/
/*Status = to fill*/

.videos_list{  
position:relative;
left:50%;
width:auto;
        transform:rotate(-3deg);
        -ms-transform:rotate(-3deg); /* IE 9 */
        -webkit-transform:rotate(-1.3deg); /* Safari and Chrome */  
}
    
.videos_list .grey_bar_video{
        background-color:#eeeeee;
        position:absolute;
        display:inline-block;
        height:230px;
        width:1000%;
        left:-500%;
        z-index:-100;   
}

.videos_list h1{
     position:relative;
     left:-50%;
     display:block;
     font-size:2em;
     margin:5px;
     padding:0;
     margin-bottom:0;
}

.videos_list nav{
    display:block;
    position:relative;
}

.videos_list nav .previous{
    background-image: url("../img/layout/arrows/arrowLeft.svg");
    float:left;
}
.videos_list nav .next{
    background-image: url("../img/layout/arrows/arrowRight.svg");
    float:right;
}

.videos_list ul{
    display:block;

    width:auto; 
    position:relative;
    left:-50%;
}

.videos_list ul li{
    display:block;
    float:left;
    margin:5px;
    margin-top:10px;
    margin-bottom:10px;
}

.videos_list ul li iframe{
width:250px;
}

/*end of videos_list*/


/****************************************/
/*videos_nav*/
/****************************************/
/*Status = to fill*/
/*Info: this template is styled by id="subnav"*/

/*end of videos_nav*/

}
/*End of Main layout*/   
}
/*End of Desktops and laptops layout*/


/****************************************/
/*Large screens*/
/****************************************/
@media only screen 
and (min-width : 1824px) {
/* Styles */
}
/*End of Large screens layout*/


/***************************************************************/
/*iPhone 4*/
/***************************************************************/
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
/*End of iPhone 4 layout*/


/***************************************************************/
/*Printer layout*/
/***************************************************************/

@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
}
/*End of Printer layout*/