/****************************************/
/*Imports*/
/****************************************/

@import url(normalize.css);
@import url(grid.css);

/*End of imports*/



/****************************************/
/*Typography and CSS Base*/
/****************************************/

body{
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #ffffff;
	text-rendering: optimizelegibility;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover{
  color: #aaaaaa;
  text-decoration:none;
}

p{
  margin: 0 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
}

h1 {
  font-size: 38.5px;
  line-height: 40px;
  
}

h2 {
  font-size: 31.5px;
  line-height: 40px;
}

h3 {
  font-size: 24.5px;
  line-height: 40px;
}

h4 {
  font-size: 17.5px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 11.9px;
  line-height: 20px;
}

p, img{
margin:0 10px;
}


/*End of Typography and CSS Base*/




/****************************************/
/*Printer layout*/
/****************************************/

@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
}

/*End of Printer layout		*/




/****************************************/
/*Main Layout*/
/****************************************/


/*Computer screen*/

@media screen {
  
/*globalheader*/

#globalheader {
    position: fixed;
    top:0;
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    padding-bottom:12px;
}

#topheader{
    background-color: #222;
    width: 100%;
    height: 30px;
}

#globalnav,
#login,
#logout,
#userinfo{
    display: inline-block;
}

#logout,
#userinfo{
    float: right;
    margin: 5px;
}

#globalnav li{
    display: inline-block;
    margin-right: 5px;     
}


#globalnav {
    margin: 5px 0 5px 5px;    
}

#globalnav a{
    color:#c0c0c0;
}

#globalnav a:hover{
    color:#fff;
    text-decoration:none; 
}

#globalnav .selected{
    color:#fff;
    text-decoration:none; 
}

#userinfo a{    
    color:#c0c0c0;
}

#userinfo a:hover{
    color:#fff;
    text-decoration:none; 
}

#login{    
    position: absolute;
    right: 15px;
    top: 5px;
}

#login a{   
    color:#c0c0c0;
}

#login a:hover{
    color:#ffffff;
    text-decoration:none;
}

#logout {
    margin-right: 15px;
}

#logout a{
    color:#c0c0c0;
}

#logout a:hover{
    color:#fff;
    text-decoration:none; 

}

#bottomheader{
    position:absolute;
    display:inline-block;    
    left:50%;
    top:50px;
}

#logo {
    position:fixed;
    top:30px;
    left:0px;
    display:block;
    width:305px;
    height:55px;
    background-image: url("../img/layout/logo.svg");
    margin-left: 5px;
    margin-top: 10px;
    
}

#subnav{
    position:relative;
    display:inline-block;    
    left:-50%;
}

#subnav li{
     display:block;
     float:left;
     border-bottom:3px solid #E2E2E2;
}

#subnav a{
    display:block;   
    color:#222222;
    text-decoration:none;
    text-align:center;
    padding:5px;
    padding-bottom:0;
}

#subnav li:hover{
    border-bottom:3px solid red;  
      
}

#subnav a:hover{
}

/*End of globalheader*/

/*Content*/

#content{
    margin-top:100px;
}

#content article{
    margin:0 auto;
}    

#content nav{
    display:block;
    float:left;   
    width: 100%;
    color:#fff;
    background-color:#222;
    text-decoration:none;
    text-align:center;
    padding:5px; 
}
#content nav li{
    display:inline-block;
}
#content li a {
    color: #c0c0c0;
}
#content li a:hover{
    color:#fff;
    text-decoration:none;   
}

/*End of content*/



/*globalfooter*/

#globalfooter{
    bottom:0;
    position:fixed;
    background-color: #222;
    width: 100%;
    height: 30px;
}

#globalfooter p {
    margin-top:5px;
    font-style:italic;
    text-align: center;
    color:#c0c0c0;    
}

/*End of globalfooter*/


/*Diverse*/

#errormessage{
       color:#ffffff;
       font-size:3em;
       position:fixed;
       bottom:30px;
       right:-10px;
       max-width:inherit;
       background-color: rgb(255,0,0);
       padding:20px; 
       line-height:40px; 
}

/*End of diverse*/


/****************************************/
/*about*/
/****************************************/
/*Status = to fill*/

.about section{}
.about h1{}
.about p{}
.about img{}

/*end of about*/


/****************************************/
/*about_nav*/
/****************************************/
/*Status = done*/
/*Info: this template is styled by id="subnav"
/*end of about_nav*/

/****************************************/
/*contact*/
/****************************************/
/*Status = to fill*/

.contact{
    background-color:green;
}

.contact section{

    display:block;
    position:relative;
    float:left;
}

.contact h1{
    font-size:2em;
}

.contact form{

}

.contact p{
    
}

.contact label{
    width:100px;
    text-align:right;   
}

.contact input{
    width:422px;
}

.contact textarea{
    width:420px;
    height:600px;
    resize:none;
}

.contact iframe{
    
}
/*end of contact*/


/****************************************/
/*contact_received*/
/****************************************/
/*Status = to fill*/

.contact_received p{}

/*end of contact_received*/


/****************************************/
/*events*/
/****************************************/
/*Status = to fill*/
/*Info: this template is composed of two templates
        event_single.tpl
        event_nav.tpl

/*End of events*/ 


/****************************************/
/*events_nav*/
/****************************************/
/*Status = to fill*/

.event_nav{}
.events_nav ul{}
.events_nav li{}
.events_nav a{}
.events_nav h1{}
.events_nav p{}
    
/*end of event_nav*/

/****************************************/
/*event_registration*/
/****************************************/
/*Status = to fill*/

.event_registration{}

.event_registration header{}
.event_registration header h1{}
.event_registration header nav{}
.event_registration header nav a{}
.event_registration header nav p{}

.event_registration section{}
.event_registration section form{}
.event_registration section form fieldset{}
.event_registration section form fieldset legend{}
.event_registration section form fieldset p{}
.event_registration section form fieldset p label{}
.event_registration section form fieldset p input{}
.event_registration section form a{}
.event_registration section form fieldset p textarea{}
.event_registration seciton form button{}

/*end of event_registration*/

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */
/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */

/****************************************/
/**/
/****************************************/
/*Status = to fill*/

/*end of */







}/*End of Main layout*/ 
  
  





























